.exerciseListBox{
    margin-top: 3vh;
    margin-left: 5vw;
    width: 28vw;
    height: 80vh;
    background-color:#06252D;
    color: white;
    position: absolute;
    overflow-y:  auto;
}
body{
    color: #031317 !important;
}
.exerciseListBox > ul{
    list-style: none;
    margin-bottom: 3vh;
    margin-top:3vh;
    padding-left: 1.3vw;
}
section{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.imageExercise{
    width: 50px;
    height: 50px;
    border-radius: 50px;

}
.titleBox{
    margin-left: 1.2vw;

}
.showDetails {
    right: 0;
    position: absolute;
    margin-top: 1.5vh;
    margin-right: 0.3vw;
}
.addExercise{

    right: 0;
    position: absolute;
    margin-top:1.5vh;
    margin-right: 3vw ;
}

.templateListBox{
    margin-top: 3vh;
    margin-right: 5vw;
    width: 28vw;
    height: 80vh;
    background-color: #06252D;
    color: white;
    overflow-y:  auto;
    position: absolute;
    right:0;

}
.templateListBox>ul{
    padding-left: 1.3vw;

}
.templateListBox>ul> ul{
    padding-left: 1.3vw;
}
.templateListBox ul {
    list-style: none;
    -webkit-padding-start: 0;
}
.templateListBox li{
    padding-left: 0.7vw;
    margin-top: 0.5vh;
}
.getNewTemplate{
    top: 0.6vh;
    right: .5vw;
    position: absolute;


}

.titleForBox {
    overflow:  hidden;
    background-color: #052026;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    position:fixed;
    width: 28vw;
    font-size: 0.8rem;

}
.addExercise{
    border:1px solid white;
    border-radius: 24px;
}
.profileContainer{
    position: absolute;
    z-index: 1;
    background-color: #959595;
    color: #031317;
    width:25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.Info{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;

}


.Info ol li{
    margin-left: 3.2vw;
}
.googlePhoto{
    width: 90px;
    border-radius: 90px;
    color: white;
}

effect-7,
.effect-8,
.effect-9{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}

.effect-7 ~ .focus-border:before,
.effect-7 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 50%; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-7 ~ .focus-border:after{top: auto; bottom: 0;}
.effect-7 ~ .focus-border i:before,
.effect-7 ~ .focus-border i:after{content: ""; position: absolute; top: 50%; left: 0; width: 2px; height: 0; background-color: #3399FF; transition: 0.6s;}
.effect-7 ~ .focus-border i:after{left: auto; right: 0;}
.effect-7:focus ~ .focus-border:before,
.effect-7:focus ~ .focus-border:after{left: 0; width: 100%; transition: 0.4s;}
.effect-7:focus ~ .focus-border i:before,
.effect-7:focus ~ .focus-border i:after{top: 0; height: 100%; transition: 0.6s;}
