.exerciseListBox{
    margin-top: 8vh;
    margin-left: 5vw;
    width: 28vw;
    height: 80vh;
    background-color: #002e47;
    color: white;
    overflow-y: scroll;
    position: absolute;
}
.exerciseListBox ul{
    list-style: none;
    margin-bottom: 3vh;
    margin-top:3vh;
    padding-left: 3vw;
}
section{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.imageExercise{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
}
.titleBox{
    margin-left: 2vw;
    padding-right: 10vw;
}
.showDetails {

}
.addExercise{

}

.templateListBox{
    margin-top: 8vh;
    margin-right: 5vw;
    width: 28vw;
    height: 80vh;
    background-color: #002e47;
    color: white;
    overflow-y: scroll;
    position: absolute;
    right:0;
}
.templateListBox ul {
    list-style: none;
}
