.description h1 ,.description h2,.description h3,.description h4{
    color: white;
}
.description h1{
    font-size: 4rem;
    padding-bottom: 3vh;
}
.description h3{
    color: #646464;
}
.description{
    width: 70vw;
    margin-top: 20vh;
    margin-left:8vw;
}
.description button{
    background-color: black;
    color: white;
    width: 10rem;
    height: 3rem;
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 3rem;
    font-size: 1.2rem;
    box-shadow: none;
}